.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
  margin: 20px auto;
  padding: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0 10px;
  background-color: white;
  border-radius: 8px;
}

p {
  margin-top: 0;
  width: 80%;
  padding: 0 10px;
}

.btn {
  width: 200px;
  height: 35px;
  background-color: rgb(216, 10, 10);
  color: white;
  font-weight: 900;
  font-size: large;
}

@media (min-width: 760px) {
  .card-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
    min-width: 740px;
  }

  p {
    width: 200px;
    line-height: 1.5;
    height: fit-content;
    overflow: hidden;
  }
}
