header {
  display: flex;
  justify-content: center;
}
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  margin: 100px;
}

a:hover,
a.active {
  color: black;
  text-decoration: underline;
}

@media (max-width: 750px) {
  a {
    margin: 10px;
  }
}
